
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#title-h1 {
    font-size: 65px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    animation: fade-in 1s ease-in-out;
}


.section-title {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    animation: rotate 0.4s ease-in-out;
    color: #000;
}

.contact-li {
    font-size: 20px;
    list-style-type: none;
}

.contact-a {
    text-decoration: none;
    color: #000;
}

i {
    padding-right: 10px;
    font-size: 25px;
    color: #426d5c;
}

#contact-h3 {
    font-size: 35px;
    text-align: center;
    color: #000;
}

.reasons-li {
    opacity: 0;
    transition: opacity 1s;
    font-size: 150%;
}

.reasons-li:hover {
    background-color:#ddd7cc;
    transition: 0.5s;

}

  .slideshow {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .slideshow img {
    width: 60%;
    height: 60%;
    display: none;
  }
  
  .slideshow img.active {
    display: block;
  }

  .reviews-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

  .review {
    width: 48%;
    margin-bottom: 20px;
    border: 2px solid #426d5c;
    padding: 20px;
  }

  .review-name {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color:#426d5c;
  }

  .review-p {
    text-align: center;
  }